<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eba262c9-94a9-42ba-a7ef-9d8c9885aaa0" Alias="Basic Property Properties Composition - Type - Tags" Level="1">
  <Info>
    <Name>Basic Property Properties Composition - Type - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "default",
  "StorageType": 1
}]]></Config>
</DataType>