<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86c9387d-0001-42eb-a222-cb1247e2e6fd" Alias="Basic Food Properties Composition - Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Basic Food Properties Composition - Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "bc24517d-bb08-476c-83f5-a49cd8334d68",
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": "3431cf40-27a9-48b2-81aa-04a53abd3632",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-06-04T21:07:33.3913162+02:00"
}]]></Config>
</DataType>