<?xml version="1.0" encoding="utf-8"?>
<DataType Key="86c9387d-0001-42eb-a222-cb1247e2e6fd" Alias="Basic Food Properties Composition - Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Basic Food Properties Composition - Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "productType",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/3431cf4027a948b281aa04a53abd3632",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>