<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebf2d834-973f-4387-b2ae-172cfe979e0c" Alias="Carousel Item - Expiration - DateTime" Level="1">
  <Info>
    <Name>Carousel Item - Expiration - DateTime</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>