<?xml version="1.0" encoding="utf-8"?>
<DataType Key="27cfeb1a-5b60-4ba7-905f-94c59c79bb40" Alias="FooterTexts - OpeningHours - Rich Text Editor" Level="1">
  <Info>
    <Name>FooterTexts - OpeningHours - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mode": "Classic",
  "overlaySize": "small",
  "toolbar": [
    "ace",
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link"
  ],
  "umbMigrationV14": "2024-06-04T21:07:33.3989288+02:00"
}]]></Config>
</DataType>