<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e944ddcc-82c2-4082-adae-2ff626b2a111" Alias="FooterTexts - Multi URL Picker" Level="1">
  <Info>
    <Name>FooterTexts - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 0,
  "overlaySize": "small"
}]]></Config>
</DataType>