<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c4db09b-4ae9-477e-b858-209f1fa0ab21" Alias="Information - PhoneNumbers - Repeatable textstrings" Level="1">
  <Info>
    <Name>Information - PhoneNumbers - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 2,
  "min": 1,
  "umbMigrationV14": "2024-06-04T21:07:33.3968815+02:00"
}]]></Config>
</DataType>