<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7aa1a1d-62f3-4b96-97b5-3f1fa52778ac" Alias="Information - Reservation - Rich Text Editor" Level="1">
  <Info>
    <Name>Information - Reservation - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mode": "Classic",
  "overlaySize": "small",
  "toolbar": [
    "ace",
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "umbembeddialog"
  ],
  "umbMigrationV14": "2024-06-04T21:07:33.3974468+02:00"
}]]></Config>
</DataType>