<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c4e19a7-3e81-436e-bd34-7178572ce221" Alias="PhoneNumbers" Level="1">
  <Info>
    <Name>PhoneNumbers</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 2,
  "Minimum": 1
}]]></Config>
</DataType>