<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c4e19a7-3e81-436e-bd34-7178572ce221" Alias="PhoneNumbers" Level="1">
  <Info>
    <Name>PhoneNumbers</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 2,
  "min": 1,
  "umbMigrationV14": "2024-06-04T21:07:33.3955786+02:00"
}]]></Config>
</DataType>