<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c67ba54-e9c9-4b2c-87f5-467db619887d" Alias="Products - TypeOfProduct - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - TypeOfProduct - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "productType",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/3431cf4027a948b281aa04a53abd3632",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>