<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c67ba54-e9c9-4b2c-87f5-467db619887d" Alias="Products - TypeOfProduct - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - TypeOfProduct - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "bc24517d-bb08-476c-83f5-a49cd8334d68",
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": "3431cf40-27a9-48b2-81aa-04a53abd3632",
    "dynamicRoot": null
  },
  "umbMigrationV14": "2024-06-04T21:07:33.4031693+02:00"
}]]></Config>
</DataType>