<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1144cf40-6037-497c-99ac-40ecdf315f2e" Alias="Product - TypeOfFood - [Conditional] Dropdown Displayer" Level="1">
  <Info>
    <Name>Product - TypeOfFood - [Conditional] Dropdown Displayer</Name>
    <EditorAlias>Our.Umbraco.CdDropdownFlexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "None",
      "show": "",
      "hide": "ingredients"
    },
    {
      "value": "Pizza",
      "show": "ingredients",
      "hide": ""
    }
  ],
  "default": "None"
}]]></Config>
</DataType>