<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a88a285-cd1a-438c-8d9d-c7ac1519bf5f" Alias="Product - HasSecondPrice - [Conditional] Dropdown Displayer" Level="1">
  <Info>
    <Name>Product - HasSecondPrice - [Conditional] Dropdown Displayer</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Our.Umbraco.CdDropdownFlexible</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": "No",
  "items": [
    {
      "value": "No",
      "show": "",
      "hide": "secondPrice"
    },
    {
      "value": "Yes",
      "show": "secondPrice",
      "hide": ""
    }
  ]
}]]></Config>
</DataType>