<?xml version="1.0" encoding="utf-8"?>
<DataType Key="751ac4df-d311-4d69-9647-5f0a9feaf14c" Alias="Two Column Layout - Rich Text Editor (1)" Level="1">
  <Info>
    <Name>Two Column Layout - Rich Text Editor (1)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mode": "Classic",
  "overlaySize": "small",
  "toolbar": [
    "ace",
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link",
    "umbmediapicker"
  ],
  "umbMigrationV14": "2024-06-04T21:07:33.4016331+02:00"
}]]></Config>
</DataType>