<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a393598-2171-41b3-a13f-947be587c6ca" Alias="Two Column Layout - Rich Text Editor" Level="1">
  <Info>
    <Name>Two Column Layout - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "hideLabel": false,
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "mode": "Classic",
  "overlaySize": "small",
  "toolbar": [
    "ace",
    "styles",
    "bold",
    "italic",
    "underline",
    "strikethrough",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "link"
  ],
  "umbMigrationV14": "2024-06-04T21:07:33.40128+02:00"
}]]></Config>
</DataType>