<?xml version="1.0" encoding="utf-8"?>
<Content Key="69ffdc62-58d5-4712-92fd-9bcfcfb1935f" Alias="A hét" Level="3">
  <Info>
    <Parent Key="c6cf921f-80e5-458c-8b6c-d431c4820777">Heti menü</Parent>
    <Path>/Oazis/HetiMenue/AHet</Path>
    <Trashed>false</Trashed>
    <ContentType>weeklyGroup</ContentType>
    <CreateDate>2023-12-17T15:27:34</CreateDate>
    <NodeName Default="A hét" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>