<?xml version="1.0" encoding="utf-8"?>
<Content Key="f14c36d7-fbb4-4c8a-8b06-36273a179691" Alias="Desszert" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Desszert</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-05-07T10:05:01</CreateDate>
    <NodeName Default="Desszert" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "16092962-c821-40c6-902e-09f1aa69b441",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[desszert]]></Value>
    </typeName>
  </Properties>
</Content>