<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a33c41a-c170-4e0a-86b7-22f29d8eb4e0" Alias="Espresso" Level="4">
  <Info>
    <Parent Key="8da2d904-8630-4554-b9eb-20f7bfb09ae8">Kávék</Parent>
    <Path>/Oazis/Itallap/Kavek/Espresso</Path>
    <Trashed>false</Trashed>
    <ContentType>drink</ContentType>
    <CreateDate>2024-06-22T18:31:02</CreateDate>
    <NodeName Default="Espresso" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <drinkName>
      <Value><![CDATA[Espresso]]></Value>
    </drinkName>
    <price>
      <Value><![CDATA[750]]></Value>
    </price>
    <secondPrice>
      <Value><![CDATA[]]></Value>
    </secondPrice>
  </Properties>
</Content>