<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2e0046b-e61a-4e68-8475-61350678ecb8" Alias="Facebook" Level="3">
  <Info>
    <Parent Key="6a6bceda-884a-4c79-ac1f-40a1d67f682b">Linkek</Parent>
    <Path>/Oazis/Linkek/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2023-08-23T21:00:11</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "b1ee1781-cabf-4368-a6bf-0ca78c934fc0",
    "mediaKey": "c0dfc402-4a01-422a-abd3-427702990c6c"
  }
]]]></Value>
    </icon>
    <url>
      <Value><![CDATA[https://www.facebook.com/OazisBufePizza]]></Value>
    </url>
  </Properties>
</Content>