<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cd11e4f-b064-4406-8d92-3e0a60b4e04a" Alias="Fagyi (2)" Level="3">
  <Info>
    <Parent Key="c7dc2311-6fad-48e7-94d7-e9b8566965df">Galery</Parent>
    <Path>/Oazis/Galery/Fagyi2</Path>
    <Trashed>false</Trashed>
    <ContentType>picture</ContentType>
    <CreateDate>2023-08-12T11:25:08</CreateDate>
    <NodeName Default="Fagyi (2)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "234a7fa3-5745-4e07-b2dc-441af72bcaae",
    "mediaKey": "2986a3b7-9b93-4d62-8fe0-9240444ff7db"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Fagyi]]></Value>
    </title>
  </Properties>
</Content>