<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0d4c78a-f385-4db6-8a94-2e223c5c67f1" Alias="Fagyi" Level="3">
  <Info>
    <Parent Key="c7dc2311-6fad-48e7-94d7-e9b8566965df">Galery</Parent>
    <Path>/Oazis/Galery/Fagyi</Path>
    <Trashed>false</Trashed>
    <ContentType>galeryPicture</ContentType>
    <CreateDate>2023-08-12T11:23:18</CreateDate>
    <NodeName Default="Fagyi" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "5bf2836f-7bef-47f6-a423-cb050211ff3a",
    "mediaKey": "2986a3b7-9b93-4d62-8fe0-9240444ff7db"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Fagyi]]></Value>
    </title>
  </Properties>
</Content>