<?xml version="1.0" encoding="utf-8"?>
<Content Key="2715663e-41cf-429c-81b4-6c69f176e266" Alias="Fagyi (1)" Level="3">
  <Info>
    <Parent Key="c7dc2311-6fad-48e7-94d7-e9b8566965df">Galery</Parent>
    <Path>/Oazis/Galery/Fagyi1</Path>
    <Trashed>false</Trashed>
    <ContentType>picture</ContentType>
    <CreateDate>2023-08-12T11:24:20</CreateDate>
    <NodeName Default="Fagyi (1)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "c948bd66-8017-4f84-9fe5-1c4063e949b7",
    "mediaKey": "d651dd76-b6a8-4f6e-a5ce-5b277cdf16cc"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Fagyi]]></Value>
    </title>
  </Properties>
</Content>