<?xml version="1.0" encoding="utf-8"?>
<Content Key="b88858d2-d867-42bc-b87d-5999137e2f21" Alias="Footer" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footerTexts</ContentType>
    <CreateDate>2023-06-17T20:48:27</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[<p>2711, Tápiószentárton Kossuth Lajos út 78<br>Elérhetőség: +36 30 1236547</p>]]></Value>
    </address>
    <openingHours>
      <Value><![CDATA[<p>Nyitvatartás<br>hétfő - zárva<br>kedd - vasárnap: 11:00 - 21:00</p>]]></Value>
    </openingHours>
  </Properties>
</Content>