<?xml version="1.0" encoding="utf-8"?>
<Content Key="600cd99e-82eb-429f-8cf0-5a872762cd80" Alias="Főni" Level="4">
  <Info>
    <Parent Key="6c6f8309-90b6-4cd1-935f-d0212b5da523">Pizzák</Parent>
    <Path>/Oazis/Etlap/Pizzak/Foni</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-06-02T20:08:12</CreateDate>
    <NodeName Default="Főni" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hasSecondPrice>
      <Value><![CDATA[Yes]]></Value>
    </hasSecondPrice>
    <ingredients>
      <Value><![CDATA[umb://document/8a2976d635054c0aae464929294c7342,umb://document/1d8ca8f02fcc4e168069ac74c8c76da5,umb://document/141f8c2b24594c7994bd079ba1af9a0c]]></Value>
    </ingredients>
    <price>
      <Value><![CDATA[2500]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Főni]]></Value>
    </productName>
    <secondPrice>
      <Value><![CDATA[2200]]></Value>
    </secondPrice>
    <serialNumber>
      <Value><![CDATA[2]]></Value>
    </serialNumber>
    <typeOfFood>
      <Value><![CDATA[Pizza]]></Value>
    </typeOfFood>
  </Properties>
</Content>