<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7dc2311-6fad-48e7-94d7-e9b8566965df" Alias="Galery" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Galery</Path>
    <Trashed>false</Trashed>
    <ContentType>galery</ContentType>
    <CreateDate>2023-08-12T11:18:09</CreateDate>
    <NodeName Default="Galery" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>