<?xml version="1.0" encoding="utf-8"?>
<Content Key="141f8c2b-2459-4c79-94bd-079ba1af9a0c" Alias="Hagyma" Level="3">
  <Info>
    <Parent Key="0a0ec199-c73f-4a81-9983-a19e34fb9a7d">Hozzávalók</Parent>
    <Path>/Konyha/Hozzavalok/Hagyma</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2023-04-07T14:34:10</CreateDate>
    <NodeName Default="Hagyma" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Hagyma]]></Value>
    </title>
  </Properties>
</Content>