<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fd4aedd-9e85-47da-9db1-927bf674a6a4" Alias="Hamburgerek" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Hamburgerek</Path>
    <Trashed Parent="ced36140-6eda-4f96-adc9-5a26fe7c02cc">true</Trashed>
    <ContentType>hamburgers</ContentType>
    <CreateDate>2023-04-08T15:22:41</CreateDate>
    <NodeName Default="Hamburgerek" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <navigationURL>
      <Value><![CDATA[/menu/hamburgers]]></Value>
    </navigationURL>
    <title>
      <Value><![CDATA[Hamburgerek]]></Value>
    </title>
  </Properties>
</Content>