<?xml version="1.0" encoding="utf-8"?>
<Content Key="0fc6a081-4502-49d8-9e39-eb5c7112b278" Alias="Hamburgerek" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Hamburgerek</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-04-30T20:40:05</CreateDate>
    <NodeName Default="Hamburgerek" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "cd203a5f-235c-48a7-bdf7-6e5f807dcb9f",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[hamburgerek]]></Value>
    </typeName>
  </Properties>
</Content>