<?xml version="1.0" encoding="utf-8"?>
<Content Key="af0aa6e8-2c87-42e5-9fd5-388181c0f096" Alias="Hamburgerek" Level="3">
  <Info>
    <Parent Key="ced36140-6eda-4f96-adc9-5a26fe7c02cc">Étlap</Parent>
    <Path>/Oazis/Etlap/Hamburgerek</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-05-17T21:37:11</CreateDate>
    <NodeName Default="Hamburgerek" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeName>
      <Value><![CDATA[hamburgerek]]></Value>
    </typeName>
    <typeOfProduct>
      <Value><![CDATA[umb://document/0fc6a081450249d89e39eb5c7112b278]]></Value>
    </typeOfProduct>
    <typePicture>
      <Value><![CDATA[[]]]></Value>
    </typePicture>
  </Properties>
</Content>