<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6b417a1-98a6-423f-a996-8dfda1eded7f" Alias="Heti menü" Level="3">
  <Info>
    <Parent Key="9d1ed87b-76a1-4264-8d6d-1c1566d62260">Hírek</Parent>
    <Path>/Oazis/Hirek/HetiMenue</Path>
    <Trashed>false</Trashed>
    <ContentType>carouselItem</ContentType>
    <CreateDate>2023-07-30T22:30:04</CreateDate>
    <NodeName Default="Heti menü" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "4f6cc9a7-9853-49e8-9848-e74fffdc45ec",
    "mediaKey": "be64a251-1adb-454c-bc93-a3a335161601",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <expiration>
      <Value><![CDATA[]]></Value>
    </expiration>
    <text>
      <Value><![CDATA[{
  "markup": "\u003Ch2 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022font-size: 36pt;\u0022\u003EMinden h\u00E9ten v\u00E1ltozatos men\u00FCkkel v\u00E1rjuk vend\u00E9geinket!\u003C/span\u003E\u003C/h2\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </text>
  </Properties>
</Content>