<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6cf921f-80e5-458c-8b6c-d431c4820777" Alias="Heti menü" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/HetiMenue</Path>
    <Trashed>false</Trashed>
    <ContentType>weeklyMenu</ContentType>
    <CreateDate>2023-06-25T21:57:22</CreateDate>
    <NodeName Default="Heti menü" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridBlock>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/469da0b4eaaf40088230295163460032",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7a12194e-317f-41de-a44e-32b5b60973d3",
      "udi": "umb://element/469da0b4eaaf40088230295163460032",
      "richText": "\u003Ch2 style=\u0022text-align: center;\u0022\u003EHeti men\u00FC aj\u00E1nlatunk\u003C/h2\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\u00D6r\u00F6mmel t\u00E1j\u00E9koztatjuk kedves Vend\u00E9geinket, hogy Vend\u00E9gl\u00E1t\u00F3 Egys\u00E9g\u00FCnkben el\u00E9rhet\u0151 a heti men\u00FC! K\u00EDn\u00E1latunkat rendszeresen friss\u00EDtj\u00FCk \u00E9s minden h\u00E9ten v\u00E1ltozatos \u00E9tellel pr\u00F3b\u00E1lunk szolg\u00E1lni.\u003C/div\u003E\n\u003C/div\u003E"
    }
  ],
  "settingsData": []
}]]></Value>
    </gridBlock>
  </Properties>
</Content>