<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6cf921f-80e5-458c-8b6c-d431c4820777" Alias="Heti menü" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/HetiMenue</Path>
    <Trashed>false</Trashed>
    <ContentType>weeklyMenu</ContentType>
    <CreateDate>2023-06-25T21:57:22</CreateDate>
    <NodeName Default="Heti menü" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <gridBlock>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/469da0b4eaaf40088230295163460032",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7a12194e-317f-41de-a44e-32b5b60973d3",
      "udi": "umb://element/469da0b4eaaf40088230295163460032",
      "richText": "<h2 style=\"text-align: center;\">Heti menü ajánlatunk</h2>\n<p> </p>\n<div>\n<div>Örömmel tájékoztatjuk kedves Vendégeinket, hogy Vendéglátó Egységünkben elérhető a heti menü! Kínálatunkat rendszeresen frissítjük és minden héten változatos étellel próbálunk szolgálni.</div>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </gridBlock>
    <information>
      <Value><![CDATA[<h1 style="text-align: center;">Heti menü ajánlatunk</h1>
<p> </p>
<h3 style="text-align: center;">Heti menü ajánlatunkat minden héten pénteken frissítjük. Aznapi rendelésüket 10 óráig tudják leadni. A napi menü ára 1800 forint adagonként. További információkért telefonon tudnak érdeklődni.</h3>]]></Value>
    </information>
  </Properties>
</Content>