<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a0ec199-c73f-4a81-9983-a19e34fb9a7d" Alias="Hozzávalók" Level="2">
  <Info>
    <Parent Key="42c10b3a-1e81-4e5c-9a2b-85cd659ca123">Konyha</Parent>
    <Path>/Konyha/Hozzavalok</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredients</ContentType>
    <CreateDate>2023-04-07T14:33:57</CreateDate>
    <NodeName Default="Hozzávalók" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>