<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a10fbdc-35e8-41c6-aa18-5fed3f5240c7" Alias="Hétfő" Level="4">
  <Info>
    <Parent Key="76989abc-c321-426f-b2ea-b4089a7e6716">B hét</Parent>
    <Path>/Oazis/HetiMenue/BHet/Hetfo</Path>
    <Trashed>false</Trashed>
    <ContentType>dailyMenu</ContentType>
    <CreateDate>2023-12-17T15:49:32</CreateDate>
    <NodeName Default="Hétfő" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <day>
      <Value><![CDATA[2023-12-18T00:00:00]]></Value>
    </day>
    <foods>
      <Value><![CDATA[{
  "markup": "<ul>\n<li>Leves A</li>\n</ul>\n<p>&nbsp;</p>\n<ul>\n<li>Második B</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </foods>
  </Properties>
</Content>