<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d1ed87b-76a1-4264-8d6d-1c1566d62260" Alias="Hírek" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Hirek</Path>
    <Trashed>false</Trashed>
    <ContentType>carousel</ContentType>
    <CreateDate>2023-07-30T22:29:01</CreateDate>
    <NodeName Default="Hírek" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>