<?xml version="1.0" encoding="utf-8"?>
<Content Key="676a7659-ed79-44a6-8fc7-87654e937f02" Alias="Húsimádó" Level="4">
  <Info>
    <Parent Key="6c6f8309-90b6-4cd1-935f-d0212b5da523">Pizzák</Parent>
    <Path>/Oazis/Etlap/Pizzak/Husimado</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-09-02T11:22:24</CreateDate>
    <NodeName Default="Húsimádó" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <ingredients>
      <Value><![CDATA[umb://document/1d8ca8f02fcc4e168069ac74c8c76da5,umb://document/8a2976d635054c0aae464929294c7342,umb://document/141f8c2b24594c7994bd079ba1af9a0c]]></Value>
    </ingredients>
    <price>
      <Value><![CDATA[1800]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Húsimádó]]></Value>
    </productName>
    <serialNumber>
      <Value><![CDATA[1]]></Value>
    </serialNumber>
  </Properties>
</Content>