<?xml version="1.0" encoding="utf-8"?>
<Content Key="b801a5cf-8902-4680-af2e-29f48e5d9ec3" Alias="Információk" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Informaciok</Path>
    <Trashed>false</Trashed>
    <ContentType>information</ContentType>
    <CreateDate>2023-06-11T14:24:44</CreateDate>
    <NodeName Default="Információk" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[<div>
<h2>Oázis Vendéglő és Pizzéria</h2>
</div>
<p>2711, Tápiószentmárton<br>Kossuth Lajos út 78</p>
<p><strong>Elérhetőség:</strong> +30 30 1234567, +36 30 1234567</p>]]></Value>
    </address>
    <delivery>
      <Value><![CDATA[<div>
<h2>Kiszállítás</h2>
<div></div>
<div>Vendéglátó egységünkből kiszállítást is kinálunk. Rendelésedet az elérhetőségeknél lévő telefonszámokon tudod leadni.<br>Továbbá az alábbi a felsorolásban lévő településekre vállaljuk a kiszállítást.</div>
</div>
<div>
<ul>
<li>Tápióbicske          500ft</li>
<li>Tápióbicske          500ft</li>
<li>Tápióbicske          500ft</li>
<li>Tápióbicske          500ft</li>
<li>Tápióbicske          1200ft</li>
</ul>
<p>A kiszállítani kívánt rendelés összegének el kell érni a 3000 ft-ot</p>
</div>]]></Value>
    </delivery>
    <location>
      <Value><![CDATA[47.33572685157286,  19.753010272096798, 17.3]]></Value>
    </location>
    <navigationTitle>
      <Value><![CDATA[Információk]]></Value>
    </navigationTitle>
    <navigationURL>
      <Value><![CDATA[informations]]></Value>
    </navigationURL>
    <phoneNumbers>
      <Value><![CDATA[+30 30 1234567
+36 30 1234567]]></Value>
    </phoneNumbers>
    <reservation>
      <Value><![CDATA[<h2>Asztalfoglalás</h2>
<p>Lehetőséget nyújtunk asztalok foglalására. A foglalást a felsorot telefonszámok valamelyikén teheted meg. A lefoglalt asztalokat a foglalási időpont kezdete után legfeljebb 15 percig tartjuk fenn. Az esetleges késést kérjük jelezd telefonon.</p>]]></Value>
    </reservation>
  </Properties>
</Content>