<?xml version="1.0" encoding="utf-8"?>
<Content Key="17c0606a-d73a-418f-a08a-26e50402ea68" Alias="Instagram" Level="3">
  <Info>
    <Parent Key="6a6bceda-884a-4c79-ac1f-40a1d67f682b">Linkek</Parent>
    <Path>/Oazis/Linkek/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>socialLink</ContentType>
    <CreateDate>2023-08-23T21:00:58</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "9bd10feb-d1c6-4b6e-8468-148aa6d8a3dd",
    "mediaKey": "b4ec3a97-37a4-47f7-9b16-f3247e8fa21b"
  }
]]]></Value>
    </icon>
    <socialUrl>
      <Value><![CDATA[https://www.instagram.com/]]></Value>
    </socialUrl>
  </Properties>
</Content>