<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcaa707f-238c-4f63-ba0f-b5ccedc92bb0" Alias="Itallap (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Itallap1</Path>
    <Trashed Parent="2f17c934-c977-45c3-9461-0bc980f0a79c">true</Trashed>
    <ContentType>drinks</ContentType>
    <CreateDate>2024-07-06T19:45:05</CreateDate>
    <NodeName Default="Itallap (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>