<?xml version="1.0" encoding="utf-8"?>
<Content Key="79812822-3e5f-44b3-93bc-18ddcf47feaf" Alias="Italtípusok" Level="2">
  <Info>
    <Parent Key="42c10b3a-1e81-4e5c-9a2b-85cd659ca123">Konyha</Parent>
    <Path>/Konyha/Italtipusok</Path>
    <Trashed>false</Trashed>
    <ContentType>drinkTypes</ContentType>
    <CreateDate>2024-06-22T18:22:29</CreateDate>
    <NodeName Default="Italtípusok" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>