<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c749e6d-6f4a-4184-af68-1038c8d77ecb" Alias="Itallap" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Itallap</Path>
    <Trashed>false</Trashed>
    <ContentType>drinks</ContentType>
    <CreateDate>2024-06-22T18:21:47</CreateDate>
    <NodeName Default="Itallap" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>