<?xml version="1.0" encoding="utf-8"?>
<Content Key="1690f445-9ca6-4ebc-809f-2de163e8cfe0" Alias="Kedd" Level="4">
  <Info>
    <Parent Key="69ffdc62-58d5-4712-92fd-9bcfcfb1935f">A hét</Parent>
    <Path>/Oazis/HetiMenue/AHet/Kedd</Path>
    <Trashed>false</Trashed>
    <ContentType>dailyMenu</ContentType>
    <CreateDate>2023-06-25T21:59:06</CreateDate>
    <NodeName Default="Kedd" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <day>
      <Value><![CDATA[2023-06-27T00:00:00]]></Value>
    </day>
    <foods>
      <Value><![CDATA[<ul>
<li>Póréhagymakrémleves</li>
</ul>
<p> </p>
<ul>
<li>Gyrostál</li>
</ul>]]></Value>
    </foods>
  </Properties>
</Content>