<?xml version="1.0" encoding="utf-8"?>
<Content Key="42c10b3a-1e81-4e5c-9a2b-85cd659ca123" Alias="Konyha" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Konyha</Path>
    <Trashed>false</Trashed>
    <ContentType>kitchen</ContentType>
    <CreateDate>2023-04-07T14:33:45</CreateDate>
    <NodeName Default="Konyha" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>