<?xml version="1.0" encoding="utf-8"?>
<Content Key="8da2d904-8630-4554-b9eb-20f7bfb09ae8" Alias="Kávék" Level="3">
  <Info>
    <Parent Key="9c749e6d-6f4a-4184-af68-1038c8d77ecb">Itallap</Parent>
    <Path>/Oazis/Itallap/Kavek</Path>
    <Trashed>false</Trashed>
    <ContentType>drinkGroup</ContentType>
    <CreateDate>2024-06-22T18:26:00</CreateDate>
    <NodeName Default="Kávék" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeOfDrinks>
      <Value><![CDATA[umb://document/95ebccc3fe314387a236ce800fe05383]]></Value>
    </typeOfDrinks>
  </Properties>
</Content>