<?xml version="1.0" encoding="utf-8"?>
<Content Key="95ebccc3-fe31-4387-a236-ce800fe05383" Alias="Kávék" Level="3">
  <Info>
    <Parent Key="79812822-3e5f-44b3-93bc-18ddcf47feaf">Italtípusok</Parent>
    <Path>/Konyha/Italtipusok/Kavek</Path>
    <Trashed>false</Trashed>
    <ContentType>drinkType</ContentType>
    <CreateDate>2024-06-22T18:22:58</CreateDate>
    <NodeName Default="Kávék" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeName>
      <Value><![CDATA[kavek]]></Value>
    </typeName>
  </Properties>
</Content>