<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a6bceda-884a-4c79-ac1f-40a1d67f682b" Alias="Linkek" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Linkek</Path>
    <Trashed>false</Trashed>
    <ContentType>socialLinks</ContentType>
    <CreateDate>2023-08-23T20:58:03</CreateDate>
    <NodeName Default="Linkek" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>