<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c6f8309-90b6-4cd1-935f-d0212b5da523" Alias="Pizzák" Level="3">
  <Info>
    <Parent Key="ced36140-6eda-4f96-adc9-5a26fe7c02cc">Étlap</Parent>
    <Path>/Oazis/Etlap/Pizzak</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2023-09-02T11:21:26</CreateDate>
    <NodeName Default="Pizzák" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeName>
      <Value><![CDATA[pizzak]]></Value>
    </typeName>
    <typeOfProduct>
      <Value><![CDATA[umb://document/8f0d3433cd8e4177a4a64597ce0196cd]]></Value>
    </typeOfProduct>
    <typePicture>
      <Value><![CDATA[[
  {
    "key": "83851877-cb4b-4dd6-8bde-4b41ec882963",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </typePicture>
  </Properties>
</Content>