<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f0d3433-cd8e-4177-a4a6-4597ce0196cd" Alias="Pizzák" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Pizzak</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-04-30T20:38:55</CreateDate>
    <NodeName Default="Pizzák" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "1233fb43-f92a-46e6-afbc-f65dedf6075b",
    "mediaKey": "d651dd76-b6a8-4f6e-a5ce-5b277cdf16cc"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[pizzak]]></Value>
    </typeName>
  </Properties>
</Content>