<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bb1d7d3-0c19-43ef-9eea-92e99c14b27f" Alias="Péntek" Level="4">
  <Info>
    <Parent Key="69ffdc62-58d5-4712-92fd-9bcfcfb1935f">A hét</Parent>
    <Path>/Oazis/HetiMenue/AHet/Pentek</Path>
    <Trashed>false</Trashed>
    <ContentType>dailyMenu</ContentType>
    <CreateDate>2023-06-25T22:02:10</CreateDate>
    <NodeName Default="Péntek" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <day>
      <Value><![CDATA[2023-06-30T00:00:00]]></Value>
    </day>
    <foods>
      <Value><![CDATA[<ul>
<li>Tejfölös zöldbableves</li>
</ul>
<p> </p>
<ul>
<li>Rántot karaj tört burgonyával</li>
</ul>]]></Value>
    </foods>
  </Properties>
</Content>