<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ce625a1-e06f-43cd-ac32-2230c985c801" Alias="Sajtos Hamburger" Level="4">
  <Info>
    <Parent Key="af0aa6e8-2c87-42e5-9fd5-388181c0f096">Hamburgerek</Parent>
    <Path>/Oazis/Etlap/Hamburgerek/SajtosHamburger</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-05-17T21:37:33</CreateDate>
    <NodeName Default="Sajtos Hamburger" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <ingredients>
      <Value><![CDATA[]]></Value>
    </ingredients>
    <price>
      <Value><![CDATA[1950]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Sajtos Hamburger]]></Value>
    </productName>
    <serialNumber>
      <Value><![CDATA[1]]></Value>
    </serialNumber>
    <typeOfFood>
      <Value><![CDATA[None]]></Value>
    </typeOfFood>
  </Properties>
</Content>