<?xml version="1.0" encoding="utf-8"?>
<Content Key="a338d183-837f-42d5-b234-943c9c5a311c" Alias="Sertéshús" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Serteshus</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-04-30T20:42:05</CreateDate>
    <NodeName Default="Sertéshús" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "2a08fbf3-bb30-4500-90f4-48acb9b000ba",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[sertes]]></Value>
    </typeName>
  </Properties>
</Content>