<?xml version="1.0" encoding="utf-8"?>
<Content Key="40a67086-479e-405c-80df-7d053fcdd4ff" Alias="Sörök" Level="3">
  <Info>
    <Parent Key="9c749e6d-6f4a-4184-af68-1038c8d77ecb">Itallap</Parent>
    <Path>/Oazis/Itallap/Soeroek</Path>
    <Trashed>false</Trashed>
    <ContentType>drinkGroup</ContentType>
    <CreateDate>2024-06-22T18:30:38</CreateDate>
    <NodeName Default="Sörök" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeOfDrinks>
      <Value><![CDATA[umb://document/f9ef068a49114bc19855dcdb075b021a]]></Value>
    </typeOfDrinks>
  </Properties>
</Content>