<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9ef068a-4911-4bc1-9855-dcdb075b021a" Alias="Sörök" Level="3">
  <Info>
    <Parent Key="79812822-3e5f-44b3-93bc-18ddcf47feaf">Italtípusok</Parent>
    <Path>/Konyha/Italtipusok/Soeroek</Path>
    <Trashed>false</Trashed>
    <ContentType>drinkType</ContentType>
    <CreateDate>2024-06-22T18:23:11</CreateDate>
    <NodeName Default="Sörök" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <typeName>
      <Value><![CDATA[sorok]]></Value>
    </typeName>
  </Properties>
</Content>