<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b44db60-9eea-4c00-b41e-723aa7f7b8aa" Alias="Songoku" Level="102">
  <Info>
    <Parent Key="dda484f3-679b-48ee-9eed-3a6f84699bd6">Pizzák2</Parent>
    <Path>/[-20]/Pizzak2/Songoku</Path>
    <Trashed Parent="dda484f3-679b-48ee-9eed-3a6f84699bd6">true</Trashed>
    <ContentType>pizza</ContentType>
    <CreateDate>2023-04-09T17:43:50</CreateDate>
    <NodeName Default="Songoku" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <ingredients>
      <Value><![CDATA[umb://document/8a2976d635054c0aae464929294c7342,umb://document/1d8ca8f02fcc4e168069ac74c8c76da5]]></Value>
    </ingredients>
    <price>
      <Value><![CDATA[2200]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Songoku]]></Value>
    </productName>
    <serialNumber>
      <Value><![CDATA[4]]></Value>
    </serialNumber>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>