<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a2976d6-3505-4c0a-ae46-4929294c7342" Alias="Sonka" Level="3">
  <Info>
    <Parent Key="0a0ec199-c73f-4a81-9983-a19e34fb9a7d">Hozzávalók</Parent>
    <Path>/Konyha/Hozzavalok/Sonka</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2023-04-07T14:35:40</CreateDate>
    <NodeName Default="Sonka" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Sonka]]></Value>
    </title>
  </Properties>
</Content>