<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f7ce453-ad9b-4c54-b171-ba04de4bb1af" Alias="Soproni 0,33" Level="4">
  <Info>
    <Parent Key="40a67086-479e-405c-80df-7d053fcdd4ff">Sörök</Parent>
    <Path>/Oazis/Itallap/Soeroek/Soproni033</Path>
    <Trashed>false</Trashed>
    <ContentType>drink</ContentType>
    <CreateDate>2024-06-22T18:32:12</CreateDate>
    <NodeName Default="Soproni 0,33" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <drinkName>
      <Value><![CDATA[Soproni 0,33]]></Value>
    </drinkName>
    <price>
      <Value><![CDATA[450]]></Value>
    </price>
    <secondPrice>
      <Value><![CDATA[]]></Value>
    </secondPrice>
  </Properties>
</Content>