<?xml version="1.0" encoding="utf-8"?>
<Content Key="ceef1e31-ea7c-402f-93e4-f0319292a0ef" Alias="Soproni 0,5" Level="4">
  <Info>
    <Parent Key="40a67086-479e-405c-80df-7d053fcdd4ff">Sörök</Parent>
    <Path>/Oazis/Itallap/Soeroek/Soproni05</Path>
    <Trashed>false</Trashed>
    <ContentType>drink</ContentType>
    <CreateDate>2024-06-22T18:31:51</CreateDate>
    <NodeName Default="Soproni 0,5" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <drinkName>
      <Value><![CDATA[Soproni 0,5]]></Value>
    </drinkName>
    <price>
      <Value><![CDATA[600]]></Value>
    </price>
    <secondPrice>
      <Value><![CDATA[]]></Value>
    </secondPrice>
  </Properties>
</Content>