<?xml version="1.0" encoding="utf-8"?>
<Content Key="36d42b95-e1b2-4817-be9c-e3da540f021a" Alias="Sült" Level="3">
  <Info>
    <Parent Key="c7dc2311-6fad-48e7-94d7-e9b8566965df">Galery</Parent>
    <Path>/Oazis/Galery/Suelt</Path>
    <Trashed>false</Trashed>
    <ContentType>galeryPicture</ContentType>
    <CreateDate>2023-08-12T11:22:57</CreateDate>
    <NodeName Default="Sült" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "6d09deae-a2b4-4d3a-b563-e918a2688c44",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Sült]]></Value>
    </title>
  </Properties>
</Content>