<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad1c739e-1107-4639-957f-2c55ae98eefe" Alias="Sült (1)" Level="3">
  <Info>
    <Parent Key="c7dc2311-6fad-48e7-94d7-e9b8566965df">Galery</Parent>
    <Path>/Oazis/Galery/Suelt1</Path>
    <Trashed>false</Trashed>
    <ContentType>picture</ContentType>
    <CreateDate>2023-08-12T11:24:49</CreateDate>
    <NodeName Default="Sült (1)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "24033237-db14-437d-a71c-7eb7c197492e",
    "mediaKey": "59a6fbd8-01af-4b09-9e9f-ed904b9bca0a"
  }
]]]></Value>
    </image>
    <title>
      <Value><![CDATA[Sült]]></Value>
    </title>
  </Properties>
</Content>