<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d8ca8f0-2fcc-4e16-8069-ac74c8c76da5" Alias="Szalámi" Level="3">
  <Info>
    <Parent Key="0a0ec199-c73f-4a81-9983-a19e34fb9a7d">Hozzávalók</Parent>
    <Path>/Konyha/Hozzavalok/Szalami</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2023-04-07T14:39:21</CreateDate>
    <NodeName Default="Szalámi" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Szalámi]]></Value>
    </title>
  </Properties>
</Content>