<?xml version="1.0" encoding="utf-8"?>
<Content Key="36fa7b8e-6b52-4a80-9ed8-9f40326c38fe" Alias="Szombat" Level="4">
  <Info>
    <Parent Key="69ffdc62-58d5-4712-92fd-9bcfcfb1935f">A hét</Parent>
    <Path>/Oazis/HetiMenue/AHet/Szombat</Path>
    <Trashed>false</Trashed>
    <ContentType>dailyMenu</ContentType>
    <CreateDate>2023-12-17T15:21:58</CreateDate>
    <NodeName Default="Szombat" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <day>
      <Value><![CDATA[2023-07-01T00:00:00]]></Value>
    </day>
    <foods>
      <Value><![CDATA[{
  "markup": "<ul>\n<li>Pho leves</li>\n</ul>\n<p>&nbsp;</p>\n<ul>\n<li>Palacsinta</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </foods>
  </Properties>
</Content>