<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ace8b09-4662-450f-8856-81d23e3689f0" Alias="Szárnyashús" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Szarnyashus</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-04-30T20:41:13</CreateDate>
    <NodeName Default="Szárnyashús" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "5109a2bc-a06d-41d1-8fd6-63c4ae06b981",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[szarnyas]]></Value>
    </typeName>
  </Properties>
</Content>