<?xml version="1.0" encoding="utf-8"?>
<Content Key="17df9d94-0965-4baa-80e3-99ed171771ad" Alias="Tanyasi töltött karaj" Level="102">
  <Info>
    <Parent Key="1fcd07b7-15ab-4fbe-b09e-86a7fcd24da7">Sültek</Parent>
    <Path>/[-20]/Sueltek/TanyasiToeltoettKaraj</Path>
    <Trashed Parent="1fcd07b7-15ab-4fbe-b09e-86a7fcd24da7">true</Trashed>
    <ContentType>fried</ContentType>
    <CreateDate>2023-04-08T15:33:01</CreateDate>
    <NodeName Default="Tanyasi töltött karaj" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[1900]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tanyasi töltött karaj]]></Value>
    </productName>
    <serialNumber>
      <Value><![CDATA[3]]></Value>
    </serialNumber>
    <type>
      <Value><![CDATA[umb://document/a338d183837f42d5b234943c9c5a311c]]></Value>
    </type>
  </Properties>
</Content>