<?xml version="1.0" encoding="utf-8"?>
<Content Key="3431cf40-27a9-48b2-81aa-04a53abd3632" Alias="Terméktípusok" Level="2">
  <Info>
    <Parent Key="42c10b3a-1e81-4e5c-9a2b-85cd659ca123">Konyha</Parent>
    <Path>/Konyha/Termektipusok</Path>
    <Trashed>false</Trashed>
    <ContentType>productTypes</ContentType>
    <CreateDate>2023-04-30T20:38:41</CreateDate>
    <NodeName Default="Terméktípusok" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>