<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9703757-ce0a-4cbe-a6bd-f4ee1d4d017d" Alias="Vegetáriánus" Level="3">
  <Info>
    <Parent Key="3431cf40-27a9-48b2-81aa-04a53abd3632">Terméktípusok</Parent>
    <Path>/Konyha/Termektipusok/Vegetarianus</Path>
    <Trashed>false</Trashed>
    <ContentType>productType</ContentType>
    <CreateDate>2023-04-30T20:42:44</CreateDate>
    <NodeName Default="Vegetáriánus" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productImage>
      <Value><![CDATA[[
  {
    "key": "fa5ba23a-b92d-4655-9644-01c3ceecf75f",
    "mediaKey": "da481ffc-cb3d-4ca2-8916-97c8e9485519"
  }
]]]></Value>
    </productImage>
    <typeName>
      <Value><![CDATA[vegetarianus]]></Value>
    </typeName>
  </Properties>
</Content>