<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f01d0e-b0f9-444b-9c35-5af6fb213b31" Alias="Vándor" Level="4">
  <Info>
    <Parent Key="6c6f8309-90b6-4cd1-935f-d0212b5da523">Pizzák</Parent>
    <Path>/Oazis/Etlap/Pizzak/Vandor</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-04T18:27:45</CreateDate>
    <NodeName Default="Vándor" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <ingredients>
      <Value><![CDATA[umb://document/1d8ca8f02fcc4e168069ac74c8c76da5,umb://document/8a2976d635054c0aae464929294c7342]]></Value>
    </ingredients>
    <price>
      <Value><![CDATA[2250]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Vándor]]></Value>
    </productName>
    <secondPrice>
      <Value><![CDATA[]]></Value>
    </secondPrice>
    <serialNumber>
      <Value><![CDATA[]]></Value>
    </serialNumber>
    <typeOfFood>
      <Value><![CDATA[]]></Value>
    </typeOfFood>
  </Properties>
</Content>