<?xml version="1.0" encoding="utf-8"?>
<Content Key="ced36140-6eda-4f96-adc9-5a26fe7c02cc" Alias="Étlap" Level="2">
  <Info>
    <Parent Key="2f17c934-c977-45c3-9461-0bc980f0a79c">Oázis</Parent>
    <Path>/Oazis/Etlap</Path>
    <Trashed>false</Trashed>
    <ContentType>menu</ContentType>
    <CreateDate>2023-04-07T14:30:31</CreateDate>
    <NodeName Default="Étlap" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <navigationURL>
      <Value><![CDATA[/menu]]></Value>
    </navigationURL>
    <title>
      <Value><![CDATA[Étlap]]></Value>
    </title>
  </Properties>
</Content>