<?xml version="1.0" encoding="utf-8"?>
<uSync version="11.1.0.0" format="10.1.0" >
	<uSync.BackOffice>
		<Handlers>
			<Handler name="MediaHandler" enabled="true">
				<Folders>
					<Folder alias="uSync" path="~/App_Plugins/uSync" />
				</Folders>
			</Handler>
		</Handlers>
	</uSync.BackOffice>
</uSync>