<?xml version="1.0" encoding="utf-8"?>
<Media Key="fee78ff9-b41a-4834-975e-4e4f90ac6d55" Alias="Carousel Background" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/CarouselBackground</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-31T20:47:44</CreateDate>
    <NodeName Default="Carousel Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zchpp5q0/carousel_background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>