<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4ec3a97-37a4-47f7-9b16-f3247e8fa21b" Alias="Insta" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Insta</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-24T18:43:17</CreateDate>
    <NodeName Default="Insta" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/se3oznfe/insta.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>