<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d33244c9-ddcb-4c5b-8da0-cce301d86807" Alias="menu" Level="1">
  <Info>
    <Name>Menu</Name>
    <Icon>icon-frame-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="b7badfa5-d1a3-4c8c-b09d-17ba535eff98">basicMainPages</Composition>
      <Composition Key="b299818b-eb78-4db0-ae05-37ea9f256638">mainNavigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0c52f31f-ad74-44c2-b87d-23fc71827480" SortOrder="0">hamburgers</ContentType>
    <ContentType Key="5b841a7c-4016-4bc4-8b2a-bd565eb2bb18" SortOrder="1">sueltek</ContentType>
    <ContentType Key="af439698-fd7b-42ac-8098-f1936cd193c5" SortOrder="2">pizzas</ContentType>
    <ContentType Key="17eca339-cdcd-42e4-b78f-4451e8b29a03" SortOrder="3">garnishes</ContentType>
    <ContentType Key="22dc663c-b312-45fc-aae1-fff7c68d16f1" SortOrder="4">foodTypes</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>