<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="013ce7e9-44fb-4260-a3ff-886889094d95" Alias="productTypes" Level="1">
  <Info>
    <Name>Product Types</Name>
    <Icon>icon-tags color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bc24517d-bb08-476c-83f5-a49cd8334d68" SortOrder="0">productType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>