<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="befdd1ae-8c12-4408-a421-bffa9181e229" Alias="weeklyGroup" Level="1">
  <Info>
    <Name>Weekly Group</Name>
    <Icon>icon-documents color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="93ea144b-fe5c-4225-9a8d-fc740d097587" SortOrder="0">dailyMenu</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>