<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fbb232ed-59ea-42ee-a705-8e83b1a10d06" Alias="weeklyMenu" Level="1">
  <Info>
    <Name>Weekly Menu</Name>
    <Icon>icon-calendar-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="bcea1968-3aa8-41b0-84ea-20723bf99033">gridComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="befdd1ae-8c12-4408-a421-bffa9181e229" SortOrder="0">weeklyGroup</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>