<?xml version="1.0" encoding="utf-8"?>
<Media Key="be64a251-1adb-454c-bc93-a3a335161601" Alias="Carousel Background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarouselBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-11-18T13:01:11</CreateDate>
    <NodeName Default="Carousel Background" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mcrgjpw1/carousel_background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>