<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0dfc402-4a01-422a-abd3-427702990c6c" Alias="Facebook Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FacebookLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-23T21:00:07</CreateDate>
    <NodeName Default="Facebook Logo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/atcn5qab/facebook_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>