<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54acc595-479e-4bb1-836f-266e2c313aa7" Alias="drinks" Level="1">
  <Info>
    <Name>Drinks</Name>
    <Icon>icon-takeaway-cup color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="09e31ec7-d83d-436d-b970-ad2d4cd9629c" SortOrder="0">drinkGroup</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>