<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4709e3e3-36ee-483e-a252-1c408dd4e522" Alias="drinkTypes" Level="1">
  <Info>
    <Name>Drink Types</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ceed8625-b2d6-4d31-9265-4e6f2653fea1" SortOrder="0">drinkType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>