<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17eca339-cdcd-42e4-b78f-4451e8b29a03" Alias="garnishes" Level="1">
  <Info>
    <Name>Garnishes</Name>
    <Icon>icon-food color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="b299818b-eb78-4db0-ae05-37ea9f256638">mainNavigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4f4b3373-08fe-4546-9c46-0ea087226d17" SortOrder="0">garnish</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>