<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6da9daf-ed90-4731-bca4-84159304aaa2" Alias="oazis" Level="1">
  <Info>
    <Name>Oázis</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="838eaf84-70bc-4400-a943-c3b8fff4ea1c" SortOrder="0">home</ContentType>
    <ContentType Key="d33244c9-ddcb-4c5b-8da0-cce301d86807" SortOrder="1">menu</ContentType>
    <ContentType Key="bff905d7-6bc2-44f2-b4cf-a66e689115af" SortOrder="2">information</ContentType>
    <ContentType Key="8d9abd2a-9506-4549-bce1-ca15d9d3f3a7" SortOrder="3">footerTexts</ContentType>
    <ContentType Key="fbb232ed-59ea-42ee-a705-8e83b1a10d06" SortOrder="4">weeklyMenu</ContentType>
    <ContentType Key="b2bf2273-c00b-42fa-b50b-b8522f5eb123" SortOrder="5">carousel</ContentType>
    <ContentType Key="6aed7922-b187-4389-a2e4-15cadd848f3b" SortOrder="6">galery</ContentType>
    <ContentType Key="f7996166-2f82-4b32-b0ee-be07531b1476" SortOrder="7">socialLinks</ContentType>
    <ContentType Key="54acc595-479e-4bb1-836f-266e2c313aa7" SortOrder="8">drinks</ContentType>
    <ContentType Key="4709e3e3-36ee-483e-a252-1c408dd4e522" SortOrder="9">drinkTypes</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>