<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af439698-fd7b-42ac-8098-f1936cd193c5" Alias="pizzas" Level="1">
  <Info>
    <Name>Pizzas</Name>
    <Icon>icon-food color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="b7badfa5-d1a3-4c8c-b09d-17ba535eff98">basicMainPages</Composition>
      <Composition Key="b299818b-eb78-4db0-ae05-37ea9f256638">mainNavigation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6134b6f0-7600-41ed-a2d0-6cfc4f5ff492" SortOrder="0">pizza</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>