<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a1d495e-953b-422e-ac7d-0c637543cd5d" Alias="Food - Ingredients - Multinode Treepicker" Level="1">
  <Info>
    <Name>Food - Ingredients - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "ingredient",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/0a0ec199c73f4a819983a19e34fb9a7d",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>