<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03d0fa8d-2a22-40bb-9c28-eadf36d3927d" Alias="Pizza - Multinode Treepicker" Level="1">
  <Info>
    <Name>Pizza - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "ingredient",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": "$site/konyha/ingredients",
    "type": "content"
  }
}]]></Config>
</DataType>