<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba9495c1-6bcb-41b4-922f-6c0b73a69a35" Alias="Rich Text Two Column - TowColumnRtx - Rich Text Editor" Level="1">
  <Info>
    <Name>Rich Text Two Column - TowColumnRtx - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "undo",
      "redo",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>