<?xml version="1.0" encoding="utf-8"?>
<Domain Key="383fc266-0000-0000-0000-000000000000" Alias="localhost:44302/menu/pizzas">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="dda484f3-679b-48ee-9eed-3a6f84699bd6">/Oázis/Étlap/Pizzák</Root>
  </Info>
</Domain>